<nav class="navbar" [class.auth-navbar]="isAuthPage">
    <div class="navbar-logo header-logo">
        <a [routerLink]="isAuthPage ? '/login' : '/'" (click)="closeMenu()">
            <img src="/logo.png" alt="MediCheck Logo" height="60" style="height: 60px; width: auto; margin: 0 auto;"
                class="logo-img">
            <span class="logo-text">MediCheck</span>
        </a>
    </div>

    <ng-container *ngIf="!isAuthPage">
        <button class="navbar-toggle" (click)="toggleMenu()" aria-label="Menu">
            <span class="bar" [class.open]="isMenuOpen"></span>
            <span class="bar" [class.open]="isMenuOpen"></span>
            <span class="bar" [class.open]="isMenuOpen"></span>
        </button>

        <div class="navbar-menu" [class.show]="isMenuOpen">
            <div class="navbar-logo menu-inside-logo">
                <span class="logo-text">MediCheck</span>
            </div>

            <ul class="navbar-links">
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                        (click)="closeMenu()">Inicio</a>
                </li>
                <li>
                    <a routerLink="/list" routerLinkActive="active" (click)="closeMenu()">Mi agenda</a>
                </li>
                <li>
                    <a routerLink="/create" routerLinkActive="active" (click)="closeMenu()">Programar medicación</a>
                </li>
            </ul>

            <div class="navbar-auth">
                <ng-container *ngIf="!isLoggedIn; else loggedInActions">
                    <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()" class="btn-login">Iniciar Sesión</a>
                    <a routerLink="/register" routerLinkActive="active" (click)="closeMenu()"
                        class="btn-register">Registrarse</a>
                </ng-container>

                <ng-template #loggedInActions>
                    <button class="btn-logout-navbar" (click)="onLogout(); closeMenu()">Cerrar sesión</button>
                </ng-template>
            </div>
        </div>
    </ng-container>
</nav>