<div>
  <button (click)="irACrear()">⬅ Volver a Agregar Medicamento</button>
  <hr>

  <h2>Mi Tratamiento de Hoy</h2>

  <div *ngIf="cargandoInicial">
    <p><em>Cargando tus medicamentos... ⏳</em></p>
  </div>

  <div *ngIf="!cargandoInicial">
    <div *ngIf="medicamentos.length === 0">
      <p>No tienes medicamentos programados para hoy.</p>
    </div>

    <div *ngIf="medicamentos.length > 0">
      <div *ngFor="let item of medicamentos">
        <div>
          <h3>{{ item.nombre_comercial }} ({{ item.principio_activo }})</h3>
          <p>{{ item.concentracion }}</p>
          <strong>Horario: {{ item.horario_programado }} hrs</strong>
        </div>

        <div>
          <ng-container *ngIf="item.verificado; else botonTomar">
            <span>✓ Tomado a las: {{ item.fecha_real_toma | date:'HH:mm' }} hrs</span>
          </ng-container>
          
          <ng-template #botonTomar>
            <button (click)="marcarTomado(item.toma_id)">
              Marcar como Tomado
            </button>
          </ng-template>
        </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>